@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap');

*{ scroll-behavior: smooth; font-family: 'Titillium Web';}

body {
    min-height:100vh;
}

/* footer */
section#footer { background-color: #3A2A67; color:white; height:auto;}
section#footer a{ text-decoration: none; color: white; }
section#footer .margin div{ margin: 25px 0; }
section#footer .margin i{ margin-right: 12px; }

