@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap');

*{ scroll-behavior: smooth; font-family: 'Titillium Web';}

a{color:  #3A2A67}

/* responsive embbed */
.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* contact */
section#contact { min-height:200px;}

/* footer */
section#footer { background-color: #3A2A67; color:white; height:auto;}
section#footer a{ text-decoration: none; color: white; }
section#footer .margin div{ margin: 25px 0; }
section#footer .margin i{ margin-right: 12px; }
