body {
  font-family: "Titillium Web", sans-serif;
}
section#nav {
  background-color: #3a2a67;
}
section#register { background-color: #3a2a67; }
section#register button {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  border: none;
  padding-top: 5px;
}

/* section info */
section#info .container-xl {
  padding: 100px 0 0 0;
}

/* section school */
section#schools { padding: 80px 0 0 0; }
section#schools .card { filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); }

section#contact { background-color: #3A2A67; color:white; min-height:200px;}


/* section footer */
section#footer { background-color: #3A2A67; color:white; height:auto;}
section#footer a{ text-decoration: none; color: white; }
section#footer .margin div{ margin: 25px 0; }
section#footer .margin i{ margin-right: 12px; }
